<p id="notice"><%= notice %></p>

<p>
  <strong>Calendario:</strong>
  <%= @calendar.calendario %>
</p>

<p>
  <strong>Fecha corte:</strong>
  <%= @calendar.fecha_corte %>
</p>

<p>
  <strong>Status:</strong>
  <%= @calendar.status_id %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
