<%= form_for(@sectorial) do |f| %>
  <% if @sectorial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sectorial.errors.count, "error") %> prohibited this sectorial from being saved:</h2>

      <ul>
      <% @sectorial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :ip_address %><br>
    <%= f.text_field :ip_address %>
  </div>
  <div class="field">
    <%= f.label :limite %><br>
    <%= f.number_field :limite %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
